body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(37, 37, 37);
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}
.container__update {
  display: flex;
  flex-direction: column;
  min-width: 240px;
}
.container__update input {
  margin: 6px 0;
  height: 26px;
}
.container__update button {
  margin: 6px 0;
  height: 26px;
  border: none;
  background-color: white;
  cursor: pointer;
}
.container__nav {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
}
.container__nav a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 8px;
}
.container__nav a i {
  margin-right: 8px;
}
.container__nav--delete {
  color: red;
  border: 1px solid red;
  padding: 8px;
  cursor: pointer;
}
.container__nav--delete i {
  margin-right: 8px;
}
.container__auth {
  display: flex;
  flex-direction: column;
  min-width: 240px;
}
.container__auth input {
  margin: 6px 0;
  height: 26px;
}
.container__auth button {
  margin: 6px 0;
  height: 26px;
  border: none;
  background-color: white;
  cursor: pointer;
}
.container__asset__params {
  display: flex;
  margin-top: 16px;
}
.container__asset__params input {
  margin: 6px 6px;
  max-width: 50px;
}
.container__asset__params button {
  margin: 6px 0;
  height: 26px;
  border: none;
  background-color: white;
  cursor: pointer;
}
.container__asset__logs {
  width: 100%;
  overflow-y: scroll;
  height: 150px;
}
.container__asset__logs--log {
  display: flex;
  justify-content: space-between;
}
.container__asset__logs--log p {
  margin: 8px 0px;
}
.container__assets, .container__asset {
  background-color: rgb(25, 25, 25);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  color: white;
  height: 420px;
  min-width: 250px;
  font-size: 18px;
}
.container__assets hr, .container__asset hr {
  width: 100%;
  margin-top: 28px;
}
.container__assets__add, .container__asset__add {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.container__assets__add input, .container__asset__add input {
  height: 26px;
  font-size: 18px;
}
.container__assets__list, .container__asset__list {
  margin-top: 10px;
  flex: 1;
  width: 100%;
}
.container__assets__list__elt, .container__asset__list__elt {
  border-bottom: 1px solid white;
  margin: 8px 0;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container__assets__list__elt--status, .container__asset__list__elt--status {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
}
.container__assets__list__elt--name, .container__asset__list__elt--name {
  text-decoration: none;
  color: white;
}

.red-status {
  background-color: red;
}

.green-status {
  background-color: green;
}

.win {
  color: green;
}

.loss {
  color: red;
}

.btn--onoff {
  font-size: 24px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background-color: rgb(36, 34, 34);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn--red {
  color: red;
  border: 2px solid red;
}
.btn--green {
  color: green;
  border: 2px solid green;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner i {
  font-size: 52px;
  color: rgb(162, 162, 162);
  animation: spinning 3s linear infinite;
}

/*# sourceMappingURL=App.css.map */
