.btn {
    &--onoff {
        font-size: 32px;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        background-color: rgb(36, 34, 34);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--red {
        color: red;
        border: 2px solid red;
    }

    &--green {
        color: green;
        border: 2px solid green;
    }
}