.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    &__manager {
        flex: 1;
        margin-top: 32px;
        background-color: rgba($color: white, $alpha: 0.1);
        min-width: 320px;
        &--title {
            text-align: center;
        }
        &--funds {
            text-align: center;
            font-size: larger;
        }
        &__onoff {
            display: flex;
            justify-content: center;
            margin-top: 32px;
        }
        &__logs {
            margin-top: 56px;
            border-top: 2px solid white;
            min-height: 160px;
            max-height: 240px;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            &__log {
                display: flex;
                justify-content: space-around;
                border-bottom: 1px solid whitesmoke;
            }
            &__nothing {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: larger;
                flex: 1;
            }
        }
    }
}